services:
  postgres:
    image: postgres:alpine
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 4s
      retries: 5
      start_period: 3s
    volumes:
      - pgdata:/var/lib/postgresql/data
  migrate:
    image: migrate/migrate
    container_name: migrate
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./schema:/migrations
    command:
      [
        "-path",
        "/migrations",
        "-database",
        "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable",
        "up",
      ]
  go-template-app:
    build:
      dockerfile: ./Dockerfile.dev
    stop_grace_period: -1s
    container_name: go-template-app
    ports:
      - 8000:8000
    depends_on:
      migrate:
        condition: service_completed_successfully
    environment:
      - DB_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ./logs:/var/log
      - ./build:/usr/local/bin
volumes:
  pgdata:
